<XIGNCODE3>
	<server>
		<license>FF7cjcycIB38KR</license>
		<revision>0</revision>
		<stand_alone>true</stand_alone>
		<crash_dump>
			<enable>true</enable>
			<refresh>10</refresh>
		</crash_dump>
		<log>
			<debug>false</debug>
			<info>true</info>
			<error>true</error>
			<stats>true</stats>
			<interval>1</interval>
		</log>	
		<filter>
			<z_rtn_black_code>Z_RTN_NONE</z_rtn_black_code>
			<z_rtn_suspicious>Z_RTN_NONE</z_rtn_suspicious>
		</filter>
		<control>
			<net>
				<enable>true</enable>
				<port>9830</port>
			</net>
			<ipc>
				<enable>true</enable>
			</ipc>
		</control>
		<timeout>
			<max>1</max>
			<quantum>55</quantum>
			<ban>true</ban>
		</timeout>
		<zce>
			<enable>true</enable>
			<cnt>4</cnt>
			<quantum>60</quantum>
		</zce>
		<ncb>
			<enable>true</enable>
			<cnt>1</cnt>
			<quantum>60</quantum>
		</ncb>
		<resend>
			<max>5</max>
			<ban>true</ban>
		</resend>
	</server>
</XIGNCODE3>